/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600;700&family=Work+Sans&display=swap');

/* PHONE SCREENS */
@media screen and (max-width: 414px) {
    body {
        width: 380px;
    }

    .fixed-bar {
        width: 350px;
    }

    .menu-items {
        width: 350px;
    }

    header {
        width: 380px;
        align-items: center;
    }

    .fixed-bar {
        height: 50px;
        position: fixed;
        top: 0;
        border-bottom: solid 1px lightgray;
        padding: 10px 20px;
        background-color: white;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .menu-bars {
        width: 25px;
        height: 3px;
        background-color: gray;
        margin: 5px 0;
      }
    
    .menu-items {
        list-style-type: none;
        max-height: 0;
        overflow: hidden;
        background-color: white;
        position: fixed;
        top: 60px;
        left: 0;
        text-align: center;
    }
    
    input:checked ~ .menu-items {
        max-height: 100%;
    }
    
    .menu-items a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #5b5e6d;
    }
    
    .collapse-menu label {
        display: block;
        cursor: pointer;
        padding: 10px 0;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    input#menu {
        display: none;
    }

    #home-work-image {
        margin: 10px 0;
        height: 300px;
        align-self: center;
    }

    h1 {
        font-size: 30px;
    }

    form input {
        height: 30px;
        border-radius: 3px;
        border: solid 1px #F4F3F4;
        margin: 10px auto;
        font-size: 13px;
        font-family: 'Work Sans', sans-serif;
        padding: 10px;
    }

    .main-section {
        width: 380px;
    }

    h2 {
        font-size: 23px;
    }

    button {
        width: 380px;
    }

    .get-started-button {
        margin-left: 0;
    }

    .logos {
        width: 50%;
    }

    #no-border-logo {
        border-bottom: none;
    }

    .try-it-for-free {
        width: 400px;
        top: 900px;
        padding: 0 20px 20px 20px;
    }

    .try-it-for-free h3 {
        font-size: 20px;
    }

    .try-it-for-free a {
        font-size: 13px;
    }

    form input {
        width: 360px;
    }

    footer {
        position: relative;
        top: 1150px;
        width: 400px;
    }

    .footer-menu {
        justify-content: flex-start;
    }

    .footer-low {
        width: 440px;
        height: 150px;
    }
    
    .footer-low ul {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        justify-content: space-evenly;
        padding: 10px 0;
    }
}

/* IPAD SCREENS */
@media screen and (min-width: 414px) and (max-width: 780px) {
    body {
        width: 780px;
    }

    .fixed-bar {
        width: 720px;
    }

    .menu-items {
        width: 720px;
    }

    header {
        width: 720px;
        align-items: flex-start;
    }

    .fixed-bar {
        height: 50px;
        position: fixed;
        top: 0;
        border-bottom: solid 1px lightgray;
        padding: 10px 20px;
        background-color: white;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .menu-bars {
        width: 25px;
        height: 3px;
        background-color: gray;
        margin: 5px 0;
      }
    
    .menu-items {
        list-style-type: none;
        max-height: 0;
        overflow: hidden;
        background-color: white;
        position: fixed;
        top: 60px;
        left: 0;
        text-align: center;
    }
    
    input:checked ~ .menu-items {
        max-height: 100%;
    }
    
    .menu-items a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #5b5e6d;
    }
    
    .collapse-menu label {
        display: block;
        cursor: pointer;
        padding: 10px 0;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    input#menu {
        display: none;
    }

    #home-work-image {
        margin: 10px 0;
        height: 300px;
        align-self: center;
    }

    h1 {
        font-size: 55px;
    }

    form input {
        height: 30px;
        border-radius: 3px;
        border: solid 1px #F4F3F4;
        margin: 10px auto;
        font-size: 13px;
        font-family: 'Work Sans', sans-serif;
        padding: 10px;
    }

    .big-paragraph {
        font-size: 16px;
        padding-right: 80px;
    }

    .email-button-flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .main-section {
        width: 720px;
    }

    h2 {
        font-size: 30px;
    }

    button {
        width: 160px;
        margin: 0 10px;
    }

    .get-started-button {
        margin-left: 0;
    }

    .bigger-email-form {
        width: 260px;
    }

    .logos {
        width: 200px;
    }

    .logos.right-border {
        border-right: 1px solid lightgray;
    }
    
    .logos-flex {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        margin: 20px 0;
    }

    #no-border-logo {
        border-bottom: none;
    }

    #no-border {
        border-bottom: none;
    }

    .try-it-for-free {
        width: 720px;
        top: 640px;
        text-align: start;
        padding: 0 20px 40px;
    }

    .try-it-for-free h3 {
        font-size: 20px;
    }

    .try-it-for-free a {
        font-size: 13px;
    }

    .smaller-email-form {
        width: 140px;
        position: absolute;
        right: 200px;
        top: 5px;
    }

    #positioned-button {
        position: absolute;
        right: 20px;
        top: 5px;
    }

    footer {
        position: relative;
        top: 780px;
        width: 720px;
    }

    #small-logo {
        height: 100px;
        float: left;
    }

    .footer-menu {
        justify-content: flex-start;
    }

    .footer-low {
        width: 760px;
        height: 60px;
        padding: 10px 0;
    }

    .footer-low ul {
        display: flex;
        width: 300px;
        justify-content: space-around;
        padding-left: 20px;
    }

    .language {
        position: absolute;
        top: 275px;
        right: 100px;
    }

    .icons {
        position: absolute;
        top: 275px;
        right: 0;
    }
}

/* NORMAL DESKTOP */
@media screen and (min-width: 780px) and (max-width: 1024px) {
    body {
        width: 950px;
    }

    .fixed-bar {
        width: 950px;
    }

    .menu-items {
        width: 950px;
    }

    header {
        width: 950px;
        align-items: flex-start;
    }

    .main-section {
        width: 950px;
    }

    .fixed-bar {
        height: 50px;
        position: fixed;
        top: 0;
        border-bottom: solid 1px lightgray;
        padding: 10px 20px;
        background-color: white;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .menu-bars {
        width: 25px;
        height: 3px;
        background-color: gray;
        margin: 5px 0;
      }
    
    .menu-items {
        list-style-type: none;
        max-height: 0;
        overflow: hidden;
        background-color: white;
        position: fixed;
        top: 60px;
        left: 0;
        text-align: center;
    }
    
    input:checked ~ .menu-items {
        max-height: 100%;
    }
    
    .menu-items a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #5b5e6d;
    }
    
    .collapse-menu label {
        display: block;
        cursor: pointer;
        padding: 10px 0;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    input#menu {
        display: none;
    }

    #home-work-image {
        margin: 10px 0;
        height: 300px;
        align-self: center;
    }

    h1 {
        font-size: 55px;
    }

    form input {
        height: 30px;
        border-radius: 3px;
        border: solid 1px #F4F3F4;
        margin: 10px auto;
        font-size: 13px;
        font-family: 'Work Sans', sans-serif;
        padding: 10px;
    }

    .big-paragraph {
        font-size: 16px;
        padding-right: 80px;
    }

    .email-button-flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    h2 {
        font-size: 30px;
    }

    button {
        width: 160px;
        margin: 0 10px;
    }

    .get-started-button {
        margin-left: 0;
    }

    .bigger-email-form {
        width: 260px;
    }

    .logos {
        width: 170px;
        border-right: 1px solid lightgray;
    }

    .logos.bottom-border {
        border-bottom: none;
    }

    .logos.outer-border {
        border-right: none;
    }
    
    .logos-flex {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        margin: 20px 0;
    }

    .try-it-for-free {
        width: 950px;
        top: 520px;
        text-align: start;
        padding: 0 20px 40px;
    }

    .try-it-for-free h3 {
        font-size: 20px;
    }

    .try-it-for-free a {
        font-size: 13px;
    }

    .smaller-email-form {
        width: 140px;
        position: absolute;
        right: 200px;
        top: 5px;
    }

    #positioned-button {
        position: absolute;
        right: 20px;
        top: 5px;
    }

    footer {
        position: relative;
        top: 650px;
        width: 950px;
    }

    #small-logo {
        height: 100px;
        float: left;
    }

    .footer-menu {
        justify-content: flex-start;
    }

    .footer-low {
        width: 990px;
        height: 60px;
        padding: 10px 0;
    }

    .footer-low ul {
        display: flex;
        width: 300px;
        justify-content: space-around;
        padding-left: 20px;
    }

    .language {
        position: absolute;
        top: 275px;
        right: 100px;
    }

    .icons {
        position: absolute;
        top: 275px;
        right: 0;
    }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1024px) {
    body {
        width: 100%;
    }

    .menu-items {
        width: 100%;
        align-items: flex-start;
    }

    header {
        width: 100%;
    }

    .main-section {
        width: 100%;
    }

    .slack-logo {
        margin-left: 30px;
    }

    .fixed-bar {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        border-bottom: solid 1px lightgray;
        padding: 10px 20px;
        background-color: white;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .menu-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 15px;
        line-height: 100%;
        list-style-type: none;
        max-height: 0;
        padding-right: 50px;
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
    }

    .menu-items li {
        margin: 0 10px;
    }

    .round-border-menu {
        border: 1px black solid;
        border-radius : 3px;
    }
    
    .menu-items a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #5b5e6d;
    }
    
    input#menu {
        display: none;
    }

    #home-work-image {
        margin: 10px 0;
        height: 400px;
        position: absolute;
        top: 50px;
        align-self: flex-start;
    }

    .no-image-header {
       width: 50%;
       align-self: flex-end;
       margin-right: 70px;
       margin-bottom: 50px;
    }

    h1 {
        font-size: 70px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    input#email {
        display: none;
    }

    .big-paragraph {
        font-size: 18px;
        padding-right: 80px;
        line-height: 150%;
    }

    h2 {
        font-size: 35px;
    }

    .main-section p {
        font-size: 15px;
    }

    button {
        width: 160px;
        margin: 0;
    }

    .get-started-button {
        margin-left: 0;
    }

    .logos {
        width: 200px;
        border-right: 1px solid lightgray;
    }

    .logos.bottom-border {
        border-bottom: none;
    }

    .logos.outer-border {
        border-right: none;
    }
    
    .logos-flex {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: stretch;
        margin: 20px 0;
    }

    .try-it-for-free {
        width: 100%;
        top: 530px;
        text-align: start;
        padding-left: 100px;
        padding-bottom: 30px;

    }

    .try-it-for-free h3 {
        font-size: 23px;
    }

    .try-it-for-free a {
        font-size: 15px;
    }

    #positioned-button {
        position: absolute;
        right: 150px;
        top: 15px;
    }

    footer {
        position: relative;
        top: 700px;
        width: 100%;
    }

    #small-logo {
        float: left;
        margin-left: 20px;
    }

    .footer-menu {
        justify-content: flex-end;
        margin-right: 100px;
        margin-bottom: 50px;
    }

    .footer-menu ul {
        margin: 20px;
    }

    .footer-low {
        width: 100%;
        height: 60px;
        padding: 10px 0;
    }

    .footer-low ul {
        display: flex;
        width: 300px;
        justify-content: space-around;
        padding-left: 20px;
    }

    .language {
        position: absolute;
        top: 340px;
        right: 150px;
    }

    .icons {
        position: absolute;
        top: 340px;
        right: 50px;
    }
}

/* GENERAL CODE */
body {
    font-family: 'Work Sans', sans-serif;
    color: #5b5e6d;
    font-size: 13px;
    line-height: 180%;
}

.below-fixed-bar {
    position: relative;
    top: 90px;
}

.slack-logo {
    height: 50px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
}

h1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    color: #2C303F;
    //line-height: 100%;
    align-self: flex-start;
}

header p {
    text-align: justify;
}

.get-started-button {
    background-color: #192592;
    color: white;
    height: 50px;
    border-radius: 3px;
    border: solid 1px #192592;
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

header a {
    color: #192592;
    font-size: 13px;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
    text-align: center;
    position: relative;
}

.main-div {
    background-color: #F4F3F4;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

h2 {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    color: #2C303F;
    line-height: 100%;
}

main button {
    background-color: white;
    color: #192592;
    height: 50px;
    border-radius: 3px;
    border: solid 1px #192592;
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.logos {
    padding: 30px 70px;
    border-bottom: 1px solid lightgray;
}

.try-it-for-free {
    position: absolute;
    text-justify: center;
    border-bottom: 1px solid lightgray;
    line-height: 0;
}

.try-it-for-free h3 {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    color: #2C303F;
    line-height: 100%;
}

.try-it-for-free a {
    color: #192592;
}

footer ul {
    list-style-type: none;
    line-height: 250%;
}

#small-logo {
    height: 100px;
}

.footer-menu-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #2C303F;
}

.footer-menu {
    display: flex;
    flex-flow: row wrap;
}

#align-self-item {
   margin-left: 20px;
}

.footer-low {
    background-color: #F4F3F4;
    font-weight: bold;
    align-items: center;
}

#us-flag-image {
    height: 20px;
    margin: 0 7px;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i {
    margin: 7px 8px;
}

.icons {
    display: flex;
    justify-content: center;
}
